@import url('https://fonts.googleapis.com/css?family=Poppins:wght@400;500');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(24, 0, 51);
    font-family: 'Poppins',sans-serif
}

.main-nav {
    padding-inline: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 350px;
    background-color: white;
}

.company-logo {
    padding-top: 5px;
}

.company-logo img {
    width: 200px;
}

.nav-links {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 25px;
    padding-top: 18px;
}

.nav-links a {
    text-decoration: none;
    color: rgb(24, 0, 51);
}

.nav-btn {
    padding-top: 18px;
}

.nav-btn a {
    text-decoration: none;
    border: 2px solid;
    border-radius: 5px;
    border-color:rgb(24, 0, 51);
    background-color: rgb(24, 0, 51);;
    color: white;
    padding: 6px;
    transition: 0.2s ease-out;
}

.nav-btn a:hover {
    color:rgb(24, 0, 51);
    background-color: white;
}